* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Murecho", sans-serif;
  text-decoration: none;
}

.section {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.507))), url("https://images.pexels.com/photos/235621/pexels-photo-235621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.507)), url("https://images.pexels.com/photos/235621/pexels-photo-235621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .card {
  width: Min(calc(550px - 1px), calc(100% - 1px));
  height: auto;
  background-color: rgba(31, 5, 21, 0.233);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  padding: 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.section .card .search {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section .card .search .search_bar {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.342);
  color: white;
  padding: 10px;
  font-size: 16px;
  text-transform: capitalize;
}

.section .card .search .search_btn {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgba(250, 235, 215, 0.342);
  color: #fff;
  font-size: 14px;
}

.section .card .weather {
  color: #fff;
  width: 100%;
  height: auto;
  text-transform: capitalize;
  line-height: 1.7;
  text-align: center;
}

.section .card .weather .city {
  font: 25px;
  letter-spacing: 2px;
}

.section .card .weather .temperature {
  font-size: 50px;
}

.section .card .weather .icon_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section .card .weather .icon_wrapper .icon {
  mix-blend-mode: lighten;
}

.section .card .weather .description,
.section .card .weather .humidity,
.section .card .weather .wind,
.section .card .weather .sunrise,
.section .card .weather .sunset {
  font-size: 16px;
}

.section .card .weather .humidity_wrapper,
.section .card .weather .sunrise_wrappper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

::-webkit-input-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */